{% extends "basic.html" %}
{% load static %}
{% block content %}
<form method="post" id="fillform" enctype="multipart/form-data">{% csrf_token %}
	<p id="error"></p>
	<div class="inputelement">
		<div class="inputtext"><label for="firstname">First name : </label></div>
		<div class="inputcomponent"><input type="text" name="firstname" id="firstname" class="textcomponent" value="Enter your First Name"/></div>
	</div>
	<div class="inputelement">
		<div class="inputtext"><label for="lastname">Last name : </label></div>
		<div class="inputcomponent"><input type="text" name="lastname" id="lastname" class="textcomponent" value="Enter your Last Name"/></div>
	</div>
	<div class="inputelement">
		<div class="inputtext"><label for="email">Email : </label></div>
		<div class="inputcomponent"><input type="text" name="email" id="email" class="textcomponent" value="Enter your mail address"/></div>
	</div>
	<div class="inputelement">
		<div class="inputtext"><label for="bloodgroup">Blood Group : </label></div>
		<div class="inputcomponent">
			<select name="bloodgroup" id="bloodgroup" class="comboboxcomponent">
				{% for bloodgroup in bloodgroups %}
					<option value="{{bloodgroup.bloodtype}}">{{bloodgroup.bloodtype}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="inputelement">
		<div class="inputtext"><label for="gender">Gender : </label></div>
		<div class="inputcomponent">
			<select name="gender" id="gender" class="comboboxcomponent">
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
		</div>
	</div>
	<div class="inputelement">
		<div class="inputtext"><label for="dob">Date of Birth : </label></div>
		<div class="inputcomponent" id="dob" name="dob">
			<select name="day" id="day" class="comboboxcomponent">
				<script type="text/javascript">
					for(var i=1;i<=31;i++)
						document.write("<option value="+i+">"+i+"</option>");
				</script>
			</select>
			
			<select name="month" id="month" class="comboboxcomponent">
				<option value="1">January</option>
				<option value="2">Feburary</option>
				<option value="3">March</option>
				<option value="4">April</option>
				<option value="5">May</option>
				<option value="6">June</option>
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>
			
			<select name="year" id="year" class="comboboxcomponent">
				<script type="text/javascript">
					for(var i=1996;i>=1900;i--)
						document.write("<option value="+i+">"+i+"</option>");
				</script>
			</select>
		</div>
	</div>
	<div class="inputelement">
		<div class="inputtext"><label for="pic">Your Pic : </label></div>
		<div class="inputcomponent"><input type="file" name="pic" id="pic" class="uploadtab" accept="image/*"/></div>
	</div>
	<div class="familyhead"><h1>Temporary Address</h1></div>
	<div class="inputfamily" id="temporary">
		<div class="inputelement">
			<div class="inputtext"><label for="line1">Address Line 1 : </label></div>
			<div class="inputcomponent"><input type="text" name="line1"  id="line1" class="textcomponent" value="Address Line 1"/></div>
		</div>
		<div class="inputelement">
			<div class="inputtext"><label for="line2">Address Line 2 : </label></div>
			<div class="inputcomponent"><input type="text" name="line2"  id="line2" class="textcomponent"  value="Address Line 2"/></div>
		</div>
		<div class="inputelement">
			<div class="inputtext"><label for="state">State : </label></div>
			<div class="inputcomponent">
				<select name="state" id="state" class="comboboxcomponent">
				<option value="">---Select---</option>
				{% for state in states %}
					<option value="{{state.state_name}}">{{state.state_name}}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="inputelement">
			<div class="inputtext"><label for="city">City : </label></div>
			<div class="inputcomponent">
				<select name="city" id="city" class="comboboxcomponent">
					<!-- City -->
				</select>
			</div>
		</div>
		<div class="inputelement">
			<div class="inputtext"><label for="pin">Pin Number : </label></div>
			<div class="inputcomponent"><input type="text" name="pin"  id="pin" class="textcomponent" value="Pin Number"/></div>
		</div>
	</div>
	
	<div class="familyhead"><h1>Permanent Address</h1></div>
	<div id="copycontent">
		<div class="inputcomponent"><input type="checkbox" name="sametemp" id="sametemp" class="checkboxcomponent" value="Same as Temporary Address">Same as Temporary Address</input></div>
	</div>
	<div class="inputfamily" id="permanent">
		<div class="inputelement">
			<div class="inputtext"><label for="line1perm">Address Line 1 : </label></div>
			<div class="inputcomponent"><input type="text" name="line1perm"  id="line1perm" class="textcomponent" value="Address Line 1"/></div>
		</div>
		<div class="inputelement">
			<div class="inputtext"><label for="line2perm">Address Line 2 : </label></div>
			<div class="inputcomponent"><input type="text" name="line2perm"  id="line2perm" class="textcomponent" value="Address Line 2"/></div>
		</div>
		<div class="inputelement">
			<div class="inputtext"><label for="stateperm">State : </label></div>
			<div class="inputcomponent">
				<select  name="stateperm" id="stateperm" class="comboboxcomponent">
					<option value="">---Select---</option>
					{% for state in states %}
						<option value="{{state.state_name}}">{{state.state_name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="inputelement">
			<div class="inputtext"><label for="cityperm">City : </label></div>
			<div class="inputcomponent">
				<select  name="cityperm" id="cityperm" class="comboboxcomponent">
					<!-- City -->
				</select>
			</div>
		</div>
		<div class="inputelement">
			<div class="inputtext"><label for="pinperm">Pin Number : </label></div>
			<div class="inputcomponent"><input type="text" name="pinperm"  id="pinperm" class="textcomponent" value="Pin Number"/></div>
		</div>
	</div>
	<div class="inputelement">
		<div class="inputtext"><label for="mobile">Mobile Number : </label></div>
		<div class="inputcomponent"><input type="text" name="mobile"  id="mobile" class="textcomponent"  value="Mobile Number"/></div>
	</div>
	<div class="inputelement">
		<div class="inputtext"><label for="landline">Landline Number : </label></div>
		<div class="inputcomponent"><input type="text" name="landline"  id="landline" class="textcomponent" value="Landline"/></div>
	</div>
	<div id="captcha_input">
		<input type="hidden" name="random" id="random" value="{{cap_val}}" />
		<div class="inputtext"><label for="{{cap_id}}">Enter the captcha : </label></div>
		<div id="captcha_image"><img src="{{cap_img}}" id="{{cap_id}}"/></div>				 <!-- Captcha Image -->
		<div class="inputcomponent"><input type="text" name="captchacode"  id="captchacode" class="textcomponent" value="Enter the captcha code"/></div>
		<input type="button" name="captchaverify" id="captchaverify" class="buttoncomponent" value="Verify My Captcha Code"/>
		<p id="responsestring"></p>
	</div>
	<div id="submitbutton">
		<input type="submit" name="submit" id="submit" class="buttoncomponent" value="Update"/>
	</div>
	<script type="text/javascript">
		var cap_id = '{{cap_id}}';
	</script>
	<script type="text/javascript" src="{% static "assets/js/captchaapi.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/appjs.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/validation.js" %}"></script>
</form>
{% endblock %}
