{% extends "basic.html" %}

{% block content %}
	<h2>Welcome {{username}}!</h2>
	{% if saved %}
		<p>Your Response has been saved.</p>
	{% endif %}
	<h1>Urgent Requirements for blood</h1>
	<ul class="quotes">
		{% for requirement in requirements %}
			<div class="post">
				<div class="post-container">
				<li class="message"><div id="message-body">{{requirement.message}}</div>
					<ul class="message_section">
						<li class="author">help for {{requirement.name}}, {{requirement.bloodgroup}}</li>
						<li class="author">asked by {{requirement.username}} from {{requirement.city}}, {{requirement.state}} ({{requirement.mobile}})</li>
					</ul>
				</li>
				</div>
			</div>
		{% endfor %}
	</ul>
{% endblock %}
